/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.heroes li {
  cursor: pointer;
  position: relative;
  background-color: #EEE;
  margin: .5em;
  height: 1.6em;
  border-radius: 4px;
  transition-duration: 0.7s;
  transition: all;
}

.heroes li:hover {
  color: rgb(13, 13, 14);
  background-color: rgb(206, 190, 190);;
  left: .1em;
}

.heroes li.selected {
  background-color: rgb(88, 12, 12);
  color: white;
}

.heroes li.selected:hover {
  background-color: rgb(179, 18, 6);
  color: white;
}

.heroes .badge {
  
  font-size: small;
  color: white;
  padding-top: 0.5em;
  background-color: #c91515;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: 10px 10px 10px -3px rgba(56, 3, 3, 0.5);
  -moz-box-shadow: 10px 10px 10px -3px rgba(56, 3, 3, 0.5);
  box-shadow: 10px 10px 10px -3px rgba(56, 3, 3, 0.5);

  
}

.herosBoard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30%;
}