.del {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 9px;
    cursor: pointer;
    float: right;
    margin-bottom: 5%;
  }

  .is-done{
      text-decoration: line-through;
  }