<div class="container sportBack">
<div class="listHeading">Add Sport Toy to the Collection</div>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <label for="toyName">Name</label>
    <input type="text" class="form-control" id="toyName" [(ngModel)]="sportoyToAdd.name" name="tName">
    <label for="toyName">Kind</label>
    <input type="text" class="form-control" id="toyKind" [(ngModel)]="sportoyToAdd.kind" name="tKind">
    <label for="toyName">Brand</label>
    <input type="text" class="form-control" id="toyBrand" [(ngModel)]="sportoyToAdd.brand" name="tBrand">
    <label for="toyName">Sport</label>
    <input type="text" class="form-control" id="toySport" [(ngModel)]="sportoyToAdd.sport" name="tSport">
    <input class="btn btn-info" type="submit" value="Save Toy in the Collection">
  </form>
</div>
